@{
    ViewData["Title"] = "Login";
}

<div class="login-window">
    <form id="loginForm">
        <div class="mb-3">
            <label class="form-label">Телефон/Email </label>
            <input name="login" type="text" />
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input name="password" type="text" />
        </div>
        <div class="mb-3" style="display:flex">
            <button id="login" class="btm btn-primary" >Войти</button>
            <a class="nav-link text-dark" asp-controller="Login" asp-action="Registration">Регистрация</a>
        </div>
    </form> 
</div>