@{
    ViewData["Title"] = "Sign-up";
}

<form id="signUpForm">
    <div class="mb-3">
        <label class="form-label">Имя</label>
        <input name="firstName" type="text" />
    </div>
    <div class="mb-3">
        <label class="form-label">Фамилия</label>
        <input name="lastName" type="text" />
    </div>
    <div class="mb-3">
        <label class="form-label">Мобильный телефон</label>
        <input name="phone" type="text" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input name="email" type="text" />
    </div>
    <button id="registation" class="btm btn-primary">Зарегистрироваться</button>
</form>




